@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h2, h1, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-image: url("../img/grainBg.png");
  background-color: #f3f0ee;
}

header {
  //margin-bottom: 40px;
  margin-left: 3vw;
  margin-right: 3vw;
  border-left: 0.2vw dashed;
  border-right: 0.2vw dashed;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 1.4vw;
  width: 30%;
}

.container {
  margin-left: 3vw;
  margin-right: 3vw;
  border-left: 0.2vw dashed;
  border-right: 0.2vw dashed;
  height: fit-content;
  //margin-top: -40px;
  &.offer-cont {
    padding-top: 11vw;
    padding-bottom: 11vw;

  }

  &.darkSection {
    border: none;
    color: white;
    background-color: black;
    margin: 0;
    padding: 60px 40px;

  }

}

h2 {
  margin: 0;
  font-size: 3.7vw;
  font-weight: 700;
}

p {
  font-size: 1.4vw;
  font-weight: 300;
}