.FirstBlock {
  display: flex;
  flex-direction: row;
  gap: 14.5vw;
}

.album {
  overflow: visible;
  position: relative;
  left: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  width: 50vw;
}

.offer {
  text-align: right;
  display: flex;
  justify-content: space-between;
  //height: 22vw;
  flex-direction: column;
  justify-items: right;

  .offer-text {
    margin-bottom: 1.8vw;
    width: 28vw;
    line-height: 130%;
  }
}

.pic {
  transition: all .15s ease-in;
  object-fit: cover;
  width: 22vw;
  height: 15vw;
  border-radius: 8px;
  filter: drop-shadow(0px 13px 29px rgba(97, 97, 97, 0.2)) drop-shadow(0px 119px 71px rgba(97, 97, 97, 0.1)) drop-shadow(0px 211px 84px rgba(97, 97, 97, 0.02)) drop-shadow(0px 330px 92px rgba(97, 97, 97, 0));

  &:nth-child(2) {
    transform: scale(1.2);
    z-index: 1;
  }
}

.dashed-line {
  width: 100%;
  border-bottom: 0.18vw dashed;
  margin-top: -2.0833vw;
  margin-bottom: -3.8vw;
  z-index: -100;
}

.wave {
  position: relative;
  top: 1.3vw;
  width: 35vw;
  transition: all .2s ease-in;

  &:hover {
    transform: scaleX(1.05);
  }
}

.selectedWave {
  z-index: 4;
  filter: none !important;
}

.pricing_wave {
  filter: invert(0.2);
  transform: scaleY(0.90);
  position: relative;
  top: 1.52vw;
}

.cards_wave {
  filter: invert(0.2);
  left: -23vw;
}

._span {
  z-index: 15 !important;

}

.waveBtns a ._span {
  color: white;
  font-size: 1.25vw;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.waveBtns a {
  cursor: pointer;
}

.waveBtns a .pricing_btn {
  left: 19vw;
  top: -0.8vw;
  z-index: 1;
}

.waveBtns {
  overflow: hidden;
}

.waveBtns a .cards_btn {
  left: -3.5vw;
  top: -0.7vw;
  z-index: 5;
}

.types {
  display: flex;
  justify-content: space-between;
}

.cardt {

  border-radius: 8px;
  padding: 16px;
  max-width: 330px;
  max-height: 400px;

  h3 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
  }

  li {
    font-size: 18px;
  }
}

.cardb1 {
  background-image: url("./../img/card1.png");
  background-repeat: no-repeat;
  background-size: cover;

  li:last-child {
    display: none;
  }
}

.cardb2 {
  background-image: url("./../img/card2.png");
  background-repeat: no-repeat;
  background-size: cover;
  //li:last-child{
  //  display: none;
  //}
}

.cardb3 {
  background-image: url("./../img/card3.png");
  background-repeat: no-repeat;
  background-size: cover;
  //li:last-child{
  //  display: none;
  //}
}

.cardb4 {
  background-color: white;
  color: black;

  h3 {
    background-image: url('./../img/textbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.25);
    background-clip: text;
    color: transparent;
  }

  li:last-child {
    display: none;
  }
}

.hiddenblock {
  display: none !important;
}

.calculator {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  h3 {
    font-size: 62px;
  }
}

.fade {
  width: 110%;
  margin-bottom: -10px;
}

/* Стили для выпадающего списка */
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;

  input {
    background-color: transparent;
    border-bottom: white solid 1px;
    outline: none;
    height: 40px;
    color: white;
  }
}

#options {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.teamtabsbtns {
  //margin-bottom: 40px;
  display: flex;
  gap: 50px;

  .teamtabswitcher {
    transition: all .12s ease-in;
    text-align: left;

    &:hover {
      cursor: pointer;
      //scale: 1.05;
    }

    &:not(&.selectedTab) {
      opacity: 0.4;
    }
  }
}

.tabwrapper{
  &::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid white;  /* padding вокруг плашки */
  }
  display: flex;
  overflow-x: scroll;
  gap: 50px;
}
.personcard {
  flex-shrink: 0;
  color: white;
  border-radius: 8px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  //padding: 16px;
  background-color: black;
  width: 468px;
  height: 240px;
  img{
    object-fit: cover;
  }

  .positions{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .position{
      transition: all .12s ease-in;
      &:hover{
        scale: 1.05;
        cursor: pointer;
      }
      background-color: #fff;
      color: black;
      border-radius: 8px;
      padding: 5px;
      font-weight: 600;
    }
  }
  h3{
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
}


.contacts{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  iframe{
    width:70%;
    border-radius:  10px;
  }
  .contacts-block{
    display: flex;
    flex-direction: column;
    gap: 40px;
    p{
      font-size: 22px;
      font-weight: 500;
      padding: 6px 12px;
      transition: all .12s ease-in;
      &:hover{
        scale: 1.05;
        cursor: pointer;
      }

      color: black;
      border-radius: 8px;
      width: fit-content;
      background-color: #fff;
    }
    color:white;
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10px;
    width: 25%;
    background-color: black;
  }
}
