.FirstBlock {
  display: flex;
  flex-direction: row;
  gap: 14.5vw;
}

.album {
  position: relative;
  left: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  width: 50vw;
}

.offer {
  text-align: right;
  display: flex;
  justify-content: space-between;
  //height: 22vw;
  flex-direction: column;
  justify-items: right;
  .offer-text{
    margin-bottom: 1.8vw;
    width: 28vw;
    line-height: 130%;
  }
}
.pic {
  transition: all .15s ease-in;
  object-fit: cover;
  width: 22vw;
  height: 15vw;
  border-radius: 8px;
  filter: drop-shadow(0px 13px 29px rgba(97, 97, 97, 0.2)) drop-shadow(0px 119px 71px rgba(97, 97, 97, 0.1))
  drop-shadow(0px 211px 84px rgba(97, 97, 97, 0.02))  drop-shadow(0px 330px 92px rgba(97, 97, 97, 0));
  &:nth-child(2) {
    transform: scale(1.2);
    z-index: 1;
  }
}
.dashed-line {
  width: 100%;
  border-bottom: 0.18vw dashed;
  margin-top: -2.0833vw;
  margin-bottom: -3.8vw;
  z-index: -100;
}
.wave {
  position: relative;
  top: 1.3vw;
  width: 35vw;
  transition: all .2s ease-in;
  &:hover{
    transform: scaleX(1.08);
  }
}
.pricing_wave {
  filter: invert(0.2);
  //top: -5;
  //transform: translateY(0.7vw);
}
.cards_wave{
  left: -23vw;
  z-index: 4;
}
.waveBtns a ._span {
  color: white;
  font-size: 1.25vw;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.waveBtns a {
  cursor: pointer;
}
.waveBtns a .pricing_btn {
  left: 19vw;
  top: -0.7vw;
  z-index: 1;
}
.waveBtns a .cards_btn {
  left: -3.5vw;
  top: -0.7vw;
  z-index: 5;
}