//@import url('paporotnik/src/img/menu.png') as ;

#menu {
  position: fixed;
  left: 50%;
  top: 50%;
  list-style: none;
  z-index: 10;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 55px;
  height: 55px;
  position: fixed;
  left: 40px;
  top: 10px;
  border-radius: 50%;
  background-image: url("/img/menu.png");
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: all .16s ease-in;

  &:hover {
    scale: 1.1;
  }
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before,
#menu:target > .icon-minus:before {
  opacity: 1;
}

.one {
  background-image: url("/img/menu2.png");
}

.two {
  background-image: url("/img/menu4.png");
}

.three {
  background-image: url("/img/menu3.png");
}

.menu-item {
  width: 55px;
  height: 55px;
  position: fixed;
  left: 40px;
  top: 10px;
  border-radius: 50%;
  transform: translate(0px, 0px);
  transition: transform .12s ease-out, scale .05s ease-in, opacity .05s ease-in;
  z-index: -2;
  transition-delay: 0s !important;

  cursor: pointer;

  &:hover {
    opacity: 0.65;
    scale: 1.05;
    filter: dropShadow(0 5px 10px black);
    transition-delay: 0s !important;

    //box-shadow: ;
  }
}


.menu-item a {
  color: #fff;
  position: relative;
  top: 30%;
  left: 0;
  text-decoration: none;
}

#menu:target > .menu-item:nth-child(5) {
  transform: translateY(70px) translateX(-8px);
  transition-delay: 0.3s;
}

#menu:target > .menu-item:nth-child(3) {
  transform: translateY(50px) translateX(50px);
  transition-delay: 0.2s;
}

#menu:target > .menu-item:nth-child(4) {
  transform: translateY(-8px) translateX(70px);
  transition-delay: 0.1s;
}