//@import url('paporotnik/src/img/menu.png') as ;

#menu {
  position: fixed;
  left: 50%;
  top: 50%;
  list-style: none;
  z-index: 10;
}

.menu-button {
  width: 2.8646vw;
  height: 2.8646vw;
  position: fixed;
  left: 3vw;
  top: 0.8vw;
  border-radius: 50%;
  background-image: url("/img/menu.png");
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: all .16s ease-in;
  transition-delay: 0s !important;
  &:hover {
    scale: 1.1;
  }
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before,
#menu:target > .icon-minus:before {
  opacity: 1;
}

.one {
  background-image: url("/img/menu2.png");
}

.two {
  background-image: url("/img/menu4.png");
}

.three {
  background-image: url("/img/menu3.png");
}

.menu-item {
  background-size: cover;
  width: 2.8646vw;
  height: 2.8646vw;
  position: fixed;
  left: 3vw;
  top: 0.8vw;
  border-radius: 50%;
  transform: translate(0px, 0px);
  transition: transform .12s ease-out, scale .05s ease-in, opacity .05s ease-in;
  z-index: -2;
  transition-delay: 0s !important;

  cursor: pointer;

  &:hover {
    opacity: 0.65;
    scale: 1.05;
    filter: dropShadow(0 5px 10px black);
    transition-delay: 0s !important;

    //box-shadow: ;
  }
}


.menu-item a {
  width: fit-content;
  height: fit-content;
  z-index: 999;
  color: #fff;
  position: relative;
  top: 30%;
  left: 0;
  text-decoration: none;
}

#menu:target > .menu-item:nth-child(5) {
  transform: translateY(3.5vw) translateX(-0.7vw);
  transition-delay: 0.3s;
}

#menu:target > .menu-item:nth-child(3) {
  transform: translateY(2.4vw) translateX(2.4vw);
  transition-delay: 0.2s;
}

#menu:target > .menu-item:nth-child(4) {
  transform: translateY(-0.7vw) translateX(3.5vw);
  transition-delay: 0.1s;
}