a.button {
  text-align: center !important;
  display: inline-block;
  border-radius: 6px;
  padding: 1vw 2.5vw;
  font-size: 0.8333vw;
  text-transform: uppercase;
  font-weight: 700;
  transition: .1s all ease-in-out;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &.dark {
    background-color: black;
    border: 2px solid black;
    color: white;

    &:hover {
      border: 2px solid black;
      background-color: transparent;
      color: black;
    }
  }

  &.dark-outline {
    border: 2px solid black;
    background-color: transparent;
    color: black;

    &:hover {
      background-color: black;
      border: 2px solid black;
      color: white;
    }
    &.f {
      padding: 1vw;
      width: 11vw;
      align-self: end;
    }
  }

  &.white {
    background-color: white;
    border: 2px solid white;
    color: black;

    &:hover {
      border: 2px solid white;
      background-color: transparent;
      color: white;
    }
  }

  &.white-outline {
    border: 2px solid white;
    background-color: transparent;
    color: white;

    &:hover {
      background-color: white;
      border: 2px solid white;
      color: black;
    }
  }

}